<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <style>
        body {
            background-color: #3498db;
            color: #fff;
            font-family: Arial, sans-serif;
            text-align: center;
        }

        h1 {
            font-size: 36px;
        }

        p {
            font-size: 24px;
        }

        a {
            color: #2ecc71;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>URL Successfully Shortened</h1>
    <p>Your shortened URL is: <a href="{{ short_url }}">{{ short_url }}</a></p>
</body>
</html>